@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: 'Montserrat';
}

h1,
h2,
h3,
h4 {
  color: #fff;
}

input {
  padding: 0.2rem 0.4rem;
  border: none;
  padding: 0.2rem 0.4rem;
  border-radius: 1em;
  border: none;
}

table {
  text-align: center;
}

.app {
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1f253d;
  /* background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%); */
}

.sidebar {
  background: #394264;
}

.sidebar__menu {
  /* border: 3px solid darkcyan; */
  /* padding: 1rem 2rem; */
  border-radius: 2em;
}

.sidebar__title {
  font-size: 1rem;
  letter-spacing: 0.1em;
  padding: 1rem 2rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  background: #11a8ab;
  color: #fff;
}

.sidebar__item {
  text-align: center;
  font-size: 0.8rem;
  text-decoration: none;
  color: #fff;
  padding: 1rem 2rem;
  border-bottom: 1px solid #1f253d;
}

.panel,
.state,
.territory,
.settings,
.stats {
  background: #394264;
  padding: 1rem 2rem;
}

.panel__title {
  color: #fff;
  /* color: tomato; */
}

.panel__row1 {
  height: 45%;
}

.panel__row2 {
  height: 55%;
}

.state__title {
  /* color: blueviolet; */
  color: #fff;
}

.territory__title {
  color: blue;
}

.stats__title {
  color: cornflowerblue;
}

.state__table {
  font-size: 0.8rem;
}

.state__item {
  padding: 0.5rem 1rem;
}

.territory__table th {
  border: 1px solid #1f253d;
  font-size: 0.7rem;
  padding: 1rem 0.5rem;
}

.settings__client-id {
  width: 94%;
  border: 2px solid turquoise;
  padding: 0.2rem 0.4rem;
}

.settings__logs {
  background: bisque;
  height: 200px;
  padding: 1rem 1rem;
}

.stats__filter {
  border-radius: 0.5em;
  padding: 0.4rem 0.6rem;
  background: coral;
  color: #fff;
}

.stats__date-picker {
  fill: coral !important;
  margin: auto 0;
}

.stats__table td {
  font-size: 0.85rem;
  padding: 0.6rem 0.4rem;
  background: darkslateblue;
}

.stats__table th {
  font-size: 0.8rem;
  padding: 0.2rem 0.4rem;
}

.stats__summary {
  font-size: 2rem;
  color: gold;
}

.modal__wrapper {
  position: fixed;
  top: 0;
  z-index: 100;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.modal__window {
  color: #000;
  background: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 60%;
  padding: 1rem 2rem;
  padding-bottom: 1rem;
  /* border-radius: 1.5em; */
  /* transform: translate(-50%, -50%); */
}

.modal__title {
  color: #000;
}
